<div {{action "actionPropertyClick"}}>
  <ActionHandlerWrapper
    @click={{action "actionPropertyClick"}}
  >
    <ActionHandler
      @click={{action "actionPropertyClick"}}
    ></ActionHandler>
  </ActionHandlerWrapper>
</div>
